// MEDIA QUERY BREAKPOINTS
$xxl_size: 1500px;
$xl_size: 1200px;
$lg_size: 992px;
$md_size: 768px;
$sm_size: 576px;
$xs_size: 576px;

$container_xxl_size: 1450px;
$container_xl_size: 1150px;
$container_lg_size: 940px;
$container_md_size: 720px;
$container_sm_size: 100%;
$container_xs_size: 100%;
//

// Fonts
@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/storage/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('/storage/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('/storage/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'NotoSansArmenian-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/storage/fonts/NotoSansArmenian-Regular.ttf');
}

@font-face {
    font-family: 'NotoSansArmenian-medium';
    font-style: normal;
    font-weight: 400;
    src: url('/storage/fonts/NotoSansArmenian-Medium.ttf');
}

@font-face {
    font-family: 'NotoSansArmenian-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('/storage/fonts/NotoSansArmenian-SemiBold.ttf');
}

$font_family_0: 'Poppins-Regular';
$font_family_1: 'Poppins-Medium';
$font_family_2: 'Poppins-SemiBold';
$font_family_3: 'NotoSansArmenian-medium';
$font_family_4: 'NotoSansArmenian-Regular';
$font_family_5: 'NotoSansArmenian-SemiBold';
//

// Colors
$color_0: #1B192E;
$color_1: #FFBD05;
$color_2: #FFFFFF;
$color_3: #E4DEDE;
$color_4: rgba(0, 0, 0, 0.04);
$color_5: #122049;
$color_6: rgba(2, 112, 147, 0.6);
$color_7: #000000;
$color_8: #7A7A7A;
//
