@media only screen and (max-width: $xs_size) {
    
}


@media only screen and (min-width: $sm_size) {
    
}


@media only screen and (min-width: $md_size) {
    
}


@media only screen and (min-width: $lg_size) {
    
}


@media only screen and (min-width: $xl_size) {

}


@media only screen and (min-width: $xxl_size) {

}


.footer {
    background-color: $color_0;
    position: relative;
    z-index: 20;

    &__media_icon {
        font-size: 30px;
        transition: color 0.2s ease-in-out;
        
        &--fb {
            color: #3b5998 !important;
        }
        
        &--instagram {
            color: #8a3ab9 !important;
        }
        
        &--twitter {
            color: #1DA1F2 !important;
        }

        &--linkedin {
            color: #0077b5 !important;
        }
    }

    &__horizontal_line {
        width: 100%;
        height: 1px;
        background-color: $color_2;
        opacity: 0.1;
    }

    &__admin_button {
        height: 20px;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 20px;
        z-index: 400;
    }

    &__submit{
        background-color: $color_1;
    }

    &__submit input{
        border: 0;
        background-color: $color_1;
        font-weight: bold;
        padding: 10px;
    }

    &__title{
        color: $color_1;
        transition: 0.2s ease-in-out;
    }

    &__title_input{
        color: $color_2;
    }

    // &__title:hover{
    //     color: $color_1;
    //     opacity: 1;
    // }
    
    &__elements{
        color: $color_2;
        opacity: 0.5;
        transition: 0.2s ease-in-out;
    }

    &__elements:hover{
        color: $color_1;
        opacity: 1;
    }

    &__email_input input{
        color: $color_2;
        opacity: 0.5;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #D9D9D9;
        opacity: 0.5;
        outline: none;
        padding: 0;
        padding-bottom: 10px;
    }

    &__email_input input::placeholder{
        color: $color_2;
        opacity: 0.5;
    }

    &__icons_parent img{
        width: 30px;
    }

    &__bottom_el{
        color: $color_2;
        transition: 0.2s ease-in-out;
    }

    &__bottom_el:hover{
        color: $color_1;
    }

    &__top_icon{
		z-index: 10;
		font-size: 20px;
		left: 30px;
	}

	&__social_box{
		width: 35px;
		height: 35px;
		background-color: $color_1;
		border-radius: 50%;
        transition: 0.3s ease-in;
        &:hover{
            background-color: $color_0;
        }
	}

	&__social_box a{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icons_parent img{ 	
		height: 70%;
		width: 70%;
	}

	&__social_border{
		border: 5px solid $color_3;
		border-radius: 50%;
	}

    &__btn_submit{
        background-color: $color_1;
        border: 0;
        height: 45px;
        width: 45px;
        margin-left: -4px;
        span{
            font-size: 10px;
            font-weight: bold
        }
    }

    &__logo{
        width: 100px;
    }
}