@media only screen and (max-width: $xs_size) {

}


@media only screen and (min-width: $sm_size) {

}


@media only screen and (min-width: $md_size) {

}


@media only screen and (min-width: $lg_size) {
    .menu_buttons{
        &__single_item{
            display: block;
        }
    }
}


@media only screen and (min-width: $xl_size) {
    .menu_buttons{
        &__single_item{
            height: 85px;
            display: flex !important;
            align-items: center;
        }
    }
}


@media only screen and (min-width: $xxl_size) {
    .nav-item:first-child div{
        padding-left: 10px !important;
    }

    .menu_buttons{
        &__single_item{
            height: 85px;
            display: flex !important;
            align-items: center;
        }
    }
}


.menu_buttons {
    &__item {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    
        span {
            color: $color_2;
            transition: all 0.2s ease-in-out;
            a {
                color: #ff484f;
            }
    
            &:hover {
                color: $color_1;
            }
        }
    
        &:hover {
            a {
                color: #4a494a !important;
            }
        }
    }

    &__slide_down_block {
        background-color: $color_0;
        display: none;
        left: 0;
        position: absolute;
        top: 66px;
        width: 180px;
        box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.25);
    }

    &__active_item_block {
        color: #4a494a;
    }

    

    &__active_item_block span {
        cursor: pointer;
    }
    
    &__active_item_block > a span {
        color: $color_1;
    }

    &__arrow_block {
        transition: 0.3s;
    }

    &__slide_down_block_in_burger {
        display: none;
    }

    &__sub_menu_item {
        padding: 10px;
        transition: all 0.2s ease-in-out;

        span{
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            color: #4a494a;
        }

        &--active > a span {
            color: $color_1;
        }
    }
}
